<div class="w-full h-full flex">
  <!-- First column -->
  <div class="flex-1 flex justify-start items-center p-4">
    <div
      class="max-h-full bg-[#F7931E] w-[85%] rounded-tr-[130px] rounded-br-[130px] relative overflow-hidden flex justify-center items-center"
    >
      <img
        src="/senior.png"
        alt="Imagen centrada"
        class="max-w-full max-h-full object-contain"
      />
    </div>
  </div>

  <!-- Second column -->
  <div class="flex-1 flex justify-center items-center p-4">
    <div class="w-full h-[80%] flex flex-col space-y-4">
      <div class="flex-1 flex justify-start">
        <div class="flex items-end space-x-2">
          <p class="text-3xl font-semibold">Con</p>
          <p class="text-5xl font-bold">SECUREIOT</p>
        </div>
      </div>

      <div class="flex-1 flex items-center space-x-2">
        <div class="h-full w-[5%] bg-[#F7931E] flex"></div>
        <div class="h-full w-full flex items-center">
          <p class="px-4 w-full text-lg">
            Controla la iluminación de tu hogar, encendiendo y apagando las
            luces al instante.
          </p>
        </div>
      </div>

      <div class="flex-1 flex items-center space-x-2">
        <div class="h-full w-[5%] bg-[#F7931E] flex"></div>
        <div class="h-full w-full flex items-center">
          <p class="px-4 w-full text-lg">
            Activa alarmas y cierra puertas automáticamente para asegurar tu
            casa con solo un toque.
          </p>
        </div>
      </div>

      <div class="flex-1 flex items-center space-x-2">
        <div class="h-full w-[5%] bg-[#F7931E] flex"></div>
        <div class="h-full w-full flex items-center">
          <p class="px-4 w-full text-lg">
            Consulta el registro de todas las actividades de tu hogar en tiempo
            real, estés donde estés.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Third column -->
  <div class="flex-1 flex justify-center items-center h-full w-full p-4">
    <app-login />
  </div>
</div>
